version: '3.9'

services:
  timescaledb:
    image: timescale/timescaledb-ha:pg15-latest
    container_name: timescaledb
    environment:
      POSTGRES_USER: telemetry
      POSTGRES_PASSWORD: telemetry123
      POSTGRES_DB: telemetry
    ports:
      - "5435:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data
    restart: always

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      - timescaledb
    restart: always

volumes:
  timescale_data:
